.containerCadastroUsuario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    background-color: #e5e5e5;
    padding: 20px;
}

.cadastroFormUsuario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 100%;
}

.logoCadastroUsuario {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.logoCadastroUsuario img {
    width: 150px;
    height: 150px;
}

.cadastroFormUsuario form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.gridNomeUsuario,
.dadosComplementares,
.dadosEndereco {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    border: green solid 2px;
}

.dadosComplementares,
.dadosEndereco {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.containerButtonCadastroUsuario {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.containerButtonCadastroUsuario .buttonVoltar {
    width: 250px;
    font-size: 1rem;
}

@media (min-width: 200px) and (max-width: 640px) {
    .cadastroFormUsuario form {
        padding: 20px;
    }

    .gridNomeUsuario,
    .dadosComplementares,
    .dadosEndereco {
        width: 100%;
        gap: 15px;
    }

    .dadosComplementares,
    .dadosEndereco {
        grid-template-columns: 1fr;
    }

    .containerButtonCadastroUsuario .buttonCadastrar {
        width: 250px;
        font-size: 0.8rem;
    }

    .containerButtonCadastroUsuario .buttonVoltar {
        width: 250px;
        font-size: 0.8rem;
    }
}

@media (min-width: 641px) and (max-width: 1024px) {
    .cadastroFormUsuario {
        max-width: 600px;
        font-size: 1rem;
    }

    .containerButtonCadastroUsuario .buttonCadastrar {
        width: 250px;
        font-size: 1rem;
    }

    .containerButtonCadastroUsuario .buttonVoltar {
        width: 250px;
        font-size: 1rem;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .cadastroFormUsuario {
        max-width: 800px;
        font-size: 1.3rem;
    }

    input::placeholder {
        font-size: 1.3rem;
        color: #191717;
    }

    .gridNomeUsuario {
        margin-bottom: 20px;
    }

    .gridNomeUsuario .MuiInputBase-input {
        font-size: 1.3rem;
    }

    .dadosComplementares .MuiInputBase-input {
        font-size: 1.3rem;
    }

    .dadosEndereco .MuiInputBase-input {
        font-size: 1.3rem;
    }

    .dadosComplementares .customSelect {
        font-size: 1.3rem;
    }

    .dadosComplementares .customMenuItem {
        font-size: 1.3rem;
    }

    /* styles.css */
    .customDate .MuiInputBase-input {
        font-size: 1.3rem;
    }

    .customDate .MuiInputBase-input::placeholder {
        font-size: 1rem;
    }

    .customDate .MuiOutlinedInput-root {
        border-radius: 8px;
    }

    .customDate .Mui-error .MuiOutlinedInput-notchedOutline {
        border-color: #f44336;
    }

    .containerButtonCadastroUsuario .buttonCadastrar {
        width: 280px;
        font-size: 1.3rem;
    }

    .containerButtonCadastroUsuario .buttonVoltar {
        width: 280px;
        font-size: 1.2rem;
    }

}

@media (min-width: 2000px) {
    .cadastroFormUsuario {
        max-width: 1900px;
        font-size: 1.7rem;
    }

    input::placeholder {
        font-size: 1.9rem;
        color: #191717;
    }

    .gridNomeUsuario {
        margin-bottom: 20px;
    }

    .gridNomeUsuario .MuiInputBase-input {
        font-size: 1.9rem;
    }

    .dadosComplementares .MuiInputBase-input {
        font-size: 1.9rem;
    }

    .dadosComplementares .customSelect {
        font-size: 1.9rem;
    }

    .dadosComplementares .customMenuItem {
        font-size: 1.9rem;
    }

    .dadosEndereco .MuiInputBase-input {
        font-size: 1.9rem;
    }


    /* styles.css */
    .customDate .MuiInputBase-input {
        font-size: 1.7rem;
    }

    .customDate .MuiInputBase-input::placeholder {
        font-size: 1.2rem;
    }

    .customDate .MuiOutlinedInput-root {
        border-radius: 8px;
    }


    .customDate .Mui-error .MuiOutlinedInput-notchedOutline {
        border-color: #f44336;
    }
}