body,
html {
 height: 100vh;
}

.containerUsuarioPrincipal {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 background-color: #e5e5e5;
 height: 100vh;
}

@media (min-width: 200px) and (max-width: 640px) {
 .containerUsuarioPrincipal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e5e5e5;
  height: 100%;
 }
}
